<a href="https://colab.research.google.com/github/sanjay-thiyagarajan/score-predictor/blob/main/CricPredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget 'https://internalapp.nptel.ac.in/contest/reference_docs/ipl_csv2.zip'
!mkdir '/content/dataset'
!unzip '/content/ipl_csv2.zip' -d '/content/dataset'

In [139]:
import pandas as pd
import numpy as np
import os
import glob
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

In [ ]:
train_parent = []
DATASET_DIR = '/content/dataset/'
for file in os.listdir(DATASET_DIR):
  filename = os.path.join(DATASET_DIR, file)
  df = pd.read_csv(filename, error_bad_lines=False, header=0)
  train_parent.append(df)
train_parent = pd.concat(train_parent, axis=0, ignore_index=True)

In [141]:
people_encoder = LabelEncoder()
people = list(np.array(train_parent[['striker']]).flatten()) + list(np.array(train_parent[['bowler']]).flatten())
people = list(set(people))
people_encoder.fit(people)

LabelEncoder()

In [142]:
train_parent = train_parent.drop(columns=['All Indian Premier League match data in CSV format'])
d = {'runs_off_bat': 'sum', 'striker':', '.join, 'bowler':', '.join}
train_parent = train_parent.groupby(['match_id','innings'], as_index=False).aggregate(d)
train_parent

       match_id  ...                                             bowler
0      335982.0  ...  P Kumar, P Kumar, P Kumar, P Kumar, P Kumar, P...
1      335982.0  ...  AB Dinda, AB Dinda, AB Dinda, AB Dinda, AB Din...
2      335983.0  ...  B Lee, B Lee, B Lee, B Lee, B Lee, B Lee, S Sr...
3      335983.0  ...  JDP Oram, JDP Oram, JDP Oram, JDP Oram, JDP Or...
4      335984.0  ...  GD McGrath, GD McGrath, GD McGrath, GD McGrath...
...         ...  ...                                                ...
1659  1254058.0  ...  TA Boult, TA Boult, TA Boult, TA Boult, TA Bou...
1660  1254059.0  ...  CR Woakes, CR Woakes, CR Woakes, CR Woakes, CR...
1661  1254059.0  ...  DL Chahar, DL Chahar, DL Chahar, DL Chahar, DL...
1662  1254060.0  ...  B Kumar, B Kumar, B Kumar, B Kumar, B Kumar, B...
1663  1254060.0  ...  Harbhajan Singh, Harbhajan Singh, Harbhajan Si...

[1664 rows x 5 columns]

In [143]:
strikers = train_parent['striker'].values
bt_unique = []
for s in strikers:
  st = s.split(', ')
  st = list(set(st))
  bt_unique.append(', '.join(st))
bowlers = train_parent['bowler'].values
bw_unique = []
for s in bowlers:
  st = s.split(', ')
  st = list(set(st))
  bw_unique.append(', '.join(st))
train_parent['striker'] = pd.DataFrame(bt_unique)
train_parent['bowler'] = pd.DataFrame(bw_unique)

In [144]:
train_parent.drop(columns=['match_id', 'innings'])

      runs_off_bat  ...                                             bowler
0            410.0  ...  Z Khan, JH Kallis, AA Noffke, CL White, SB Jos...
1            126.0  ...  I Sharma, AB Agarkar, LR Shukla, AB Dinda, SC ...
2            468.0  ...  B Lee, IK Pathan, PP Chawla, K Goel, WA Mota, ...
3            392.0  ...  Joginder Sharma, JDP Oram, M Muralitharan, MS ...
4            244.0  ...  DL Vettori, MF Maharoof, GD McGrath, R Bhatia,...
...            ...  ...                                                ...
1659         296.0  ...  TA Boult, KH Pandya, M Jansen, RD Chahar, JJ B...
1660         356.0  ...  R Ashwin, CR Woakes, A Mishra, MP Stoinis, Ave...
1661         372.0  ...  SN Thakur, MM Ali, DJ Bravo, RA Jadeja, DL Cha...
1662         360.0  ...  T Natarajan, Rashid Khan, Sandeep Sharma, Moha...
1663         340.0  ...  PJ Cummins, CV Varun, Harbhajan Singh, M Prasi...

[1664 rows x 3 columns]